
---
import HTMLPreviewTool from '../components/HTMLPreviewTool';
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <link rel="icon" type="image/png" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width" />
  <title>HTML Preview Tool - Miraka Tools</title>
  <style>
    body {
      margin: 0;
      padding: 0;
      overflow: hidden;
    }
    
    @media (max-width: 768px) {
      body {
        overflow: auto;
      }
    }
  </style>
</head>
<body>
  <HTMLPreviewTool client:only="react" />
</body>
</html>

